USE [biblioteca]
GO
/****** Object:  Table [dbo].[AUTORES]    Script Date: 16/03/2022 08:43:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTORES](
	[PK_CODIGOAUTOR] [varchar](20) NOT NULL,
	[NOMBRECOMPLETO] [varchar](40) NULL,
	[APELLIDOS] [varchar](20) NULL,
	[PAISORIGEN] [varchar](20) NULL,
 CONSTRAINT [PK_AUTORES] PRIMARY KEY CLUSTERED 
(
	[PK_CODIGOAUTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTORESXLIBRO]    Script Date: 16/03/2022 08:43:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTORESXLIBRO](
	[FK_CODIGOLIBRO] [varchar](20) NULL,
	[FK_CODIGOAUTOR] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITORIALES]    Script Date: 16/03/2022 08:43:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITORIALES](
	[PK_CODIGOEDITORIAL] [varchar](20) NOT NULL,
	[NOMBRE] [varchar](40) NULL,
	[PAISORIGEN] [varchar](20) NULL,
 CONSTRAINT [PK_EDITORIALES] PRIMARY KEY CLUSTERED 
(
	[PK_CODIGOEDITORIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EJEMPLARES]    Script Date: 16/03/2022 08:43:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EJEMPLARES](
	[FK_CODIGOLIBRO] [varchar](20) NULL,
	[UBICACION] [varchar](20) NULL,
	[ESTADOSOLICITUD] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBROS]    Script Date: 16/03/2022 08:43:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBROS](
	[PK_CODIGOLIBRO] [varchar](20) NOT NULL,
	[TITULO] [varchar](20) NULL,
	[ISB] [varchar](20) NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[NROPAGINAS] [varchar](20) NULL,
	[PUBLICACION] [varchar](20) NULL,
	[FK_CODIGOEDITORIAL] [varchar](20) NULL,
 CONSTRAINT [PK_LIBROS] PRIMARY KEY CLUSTERED 
(
	[PK_CODIGOLIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AUTORES] ([PK_CODIGOAUTOR], [NOMBRECOMPLETO], [APELLIDOS], [PAISORIGEN]) VALUES (N'AU001 ', N'Camilo Andrés', N'Piedrahita Ángel ', N'Colombia')
INSERT [dbo].[AUTORES] ([PK_CODIGOAUTOR], [NOMBRECOMPLETO], [APELLIDOS], [PAISORIGEN]) VALUES (N'AU002 ', N'Carlos Alberto', N' Toro Álzate', N' Colombia')
INSERT [dbo].[AUTORES] ([PK_CODIGOAUTOR], [NOMBRECOMPLETO], [APELLIDOS], [PAISORIGEN]) VALUES (N'AU003 ', N'Diana María ', N'Pérez Ruiz', N'Colombia')
GO
INSERT [dbo].[AUTORESXLIBRO] ([FK_CODIGOLIBRO], [FK_CODIGOAUTOR]) VALUES (N'LB001', N'AU005')
INSERT [dbo].[AUTORESXLIBRO] ([FK_CODIGOLIBRO], [FK_CODIGOAUTOR]) VALUES (N'LB002', N'AU001')
INSERT [dbo].[AUTORESXLIBRO] ([FK_CODIGOLIBRO], [FK_CODIGOAUTOR]) VALUES (N'LB003', N'AU003')
GO
INSERT [dbo].[EDITORIALES] ([PK_CODIGOEDITORIAL], [NOMBRE], [PAISORIGEN]) VALUES (N'ED001 ', N'Alfaomega ', N'Colombia')
INSERT [dbo].[EDITORIALES] ([PK_CODIGOEDITORIAL], [NOMBRE], [PAISORIGEN]) VALUES (N'ED002 ', N'Angosta ', N'Colombia')
INSERT [dbo].[EDITORIALES] ([PK_CODIGOEDITORIAL], [NOMBRE], [PAISORIGEN]) VALUES (N'ED003 ', N'Babel ', N'Colombia')
GO
INSERT [dbo].[EJEMPLARES] ([FK_CODIGOLIBRO], [UBICACION], [ESTADOSOLICITUD]) VALUES (N'LB001', N'Estantería 1 ', N'Reservado')
INSERT [dbo].[EJEMPLARES] ([FK_CODIGOLIBRO], [UBICACION], [ESTADOSOLICITUD]) VALUES (N'LB003', N'Estantería 2', N'Reservado')
INSERT [dbo].[EJEMPLARES] ([FK_CODIGOLIBRO], [UBICACION], [ESTADOSOLICITUD]) VALUES (N'LB005 ', N'Estantería 3 ', N'Disponible')
GO
INSERT [dbo].[LIBROS] ([PK_CODIGOLIBRO], [TITULO], [ISB], [DESCRIPCION], [NROPAGINAS], [PUBLICACION], [FK_CODIGOEDITORIAL]) VALUES (N'LB001 ', N'Bases de Datos I', N'135-246-975', N'Fundamentos BD ', N'180 págs.', N'2016', N'ED001')
INSERT [dbo].[LIBROS] ([PK_CODIGOLIBRO], [TITULO], [ISB], [DESCRIPCION], [NROPAGINAS], [PUBLICACION], [FK_CODIGOEDITORIAL]) VALUES (N'LB002', N'Bases de Datos II ', N'864-135-190', N'Gestión BD ', N'289 págs.', N'2017', N'ED002')
INSERT [dbo].[LIBROS] ([PK_CODIGOLIBRO], [TITULO], [ISB], [DESCRIPCION], [NROPAGINAS], [PUBLICACION], [FK_CODIGOEDITORIAL]) VALUES (N'LB003', N'POO I ', N'192-386-467', N'Introducción', N'389 págs.', N'2018', N'ED004')
GO
